//breakpoints
@media screen and (max-width:1100px) {
	// Skills section
	.skills {
		p  {
			font-size:1rem;	
		}
	}
}

@media screen and (min-width:990px) {
	// Portfolio Styles
	.portfolio {
		.portfolioItem{
			display: flex;
			justify-content:space-between;
			&:nth-child(2n){
				h3,p {
					text-align:right;
				}
				.porfolioContent {
					order:1;
				}
				.portfolioImage {
					order:2;
				}
				.buttonContainer {
					justify-content:flex-end;
				}
				.tagContainer {
					justify-content:flex-end;
				}
			}
			&:nth-child(2n+1){
				h3,p {
					text-align:left;
				}
				.buttonContainer {
					justify-content:flex-start;
				}
				.tagContainer {
					justify-content:flex-start;
				}
			}
		}
		.portfolioImage {
			flex-basis:45%;
			flex-shrink:0;
		}
		.portfolioContent {
			flex-basis:50%;
			flex-shrink:0;
		}
	}
}

@media screen and (max-width:990px) {
	// footer Styles
	footer ul.menu {
		display: none;
	}
}

@media screen and (max-width:800px) {
	.skills {
		.skillColumn:first-child {
			width:50%;
		}
		.skillColumn:nth-child(2) {
			width:35%;
		}
	}
	.skillColumn:last-child {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	// Header styles
	header {
		span {
			display: none;
		}
	}
	// contact styles
	.contact #wpgmza_map {
		display: none!important;
	}
	.contact .wpcf7 {
		flex-basis:100%;
	}
	// footer Styles
	footer .container {
		padding: 10px 20px;
	}
} 

@media screen and (max-width:650px) {
	#navIcon{
		display: block;
	}
	// hamburgerMenu 
	.mainNav {
		position: fixed !important;
		top: 0;
		left: 0;
		margin-top:0;
		height: 100%;
		width: 100%;
		display: none;
		flex-flow: column wrap;
		text-align: center;
		justify-content: space-around;
		z-index: 10;
	}
	ul#menu-main-menu {
		margin-top:16px;
		position: fixed;
		top:0;
		left:5%;
		height:78%;
		width:90%;
		flex-direction:column;
		background: $darkPurple;
		li {
			margin:20px;
			text-align: left;
			&::after {
				width:100%;
			}
			a {
				font-size:2rem;
				&::after {
					width:100%;
				}
			}
		}
	}
	.mainNav a {
		color: rgba(0,0,0,0.8);
	}
}

@media screen and ( max-width:600px) {
	// Header style
	header {
		.aboveHeader {
			font-size:2.5rem;
			&::after {
				width:110%;
			}
		}
	}
	// Skills section
	.skills {
		.secondContainer {
			flex-direction:column;
		}
		.skillColumn:first-child {
			width:70%;
			display: block;
			flex-wrap:none;
			margin:0 auto;
		}
		.skillColumn:nth-child(2) {
			width:70%;
			display: block;
			margin:0 auto;
		}
	}
	// General style
	.smallContainer {
		width: 85%;
	}
	.about p {
		font-size:0.8rem;
		line-height: 1.5rem;
	}
}

@media screen and ( max-width:500px) {
	// Header styles
	header {
		.headerBorderContainer{
			height:93%;
			margin-top:5px;
		}
		.bigFadedLetters {
			font-size:9rem;
			top:30%;
		}
		.aboveHeader {
			font-size:2.5rem;
			top:-8%;
			&::after {
				width:80%;
			}
		}
		.subHeading {
			top:52%;
		}
		svg.logo {
			transform:scale(2);
		}
		.logoContainer {
			margin:20px;
		}
		.socialHeaderContainer{
			top:70%;
		}
	}
	// Skills section
	.skills {
		.skillColumn:first-child {
			width:80%;
		}
		.skillColumn:nth-child(2) {
			width:80%;
		}
	}
	// Footer styles
	footer .socialHeaderContainer {
		flex-wrap:wrap;
		max-width:50%;
		justify-content:center;
	}
}

@media screen and ( max-width:420px) {
	// Portfolio Section
	.portfolio {
		.buttonContainer {
			display: block;
		}
		button{
			margin:0 auto;
			&:last-child {
				margin-top:20px;
			}
		}
	}
	// Skills section
	.skills {
		.skillColumn:first-child {
			width:90%;
		}
		.skillColumn:nth-child(2) {
			width:90%;
		}
		.skillList{
			flex-wrap:nowrap;
			height: auto;
			p{
				padding:0;
			}
		}
	}

}