//breakpoints
@media screen and (min-width:1044px) {
	// Portfolio Styles
	.portfolio {
		.portfolioItem{
			display: flex;
			justify-content:space-between;
			&:nth-child(2n){
				h3,p {
					text-align:right;
				}
				.porfolioContent {
					order:1;
				}
				.portfolioImage {
					order:2;
				}
				.buttonContainer {
					justify-content:flex-end;
				}
				.tagContainer {
					justify-content:flex-end;
				}
			}
			&:nth-child(2n+1){
				h3,p {
					text-align:left;
				}
				.buttonContainer {
					justify-content:flex-start;
				}
				.tagContainer {
					justify-content:flex-start;
				}
			}
		}
		.portfolioImage {
			flex-basis:45%;
			flex-shrink:0;
		}
		.portfolioContent {
			flex-basis:50%;
			flex-shrink:0;
		}
	}
}

@media screen and (max-width:1030px) {
	// footer Styles
	footer ul.menu {
		display: none;
	}
	.skillColumn:last-child {
		display: none;
	}
	.skills {
		.skillColumn:first-child {
			width:50%;
		}
		.skillColumn:nth-child(2) {
			width:35%;
		}
	}
}

@media screen and (max-width: 768px) {
	// Header styles
	header {
		.bigFadedLetters{
			font-size:9rem;
			top:34%;
		}
	}
	// contact styles
	.contact #wpgmza_map {
		display: none!important;
	}
	.contact .wpcf7 {
		flex-basis:100%;
		padding:30px;
	}
	// footer Styles
	footer .container {
		padding: 10px 20px;
	}
} 
@media screen and (max-width:690px) {
	// Skills section
	.skills {
		.container {
			transition:0.3s all ease;
			padding-bottom:40px;
			padding-top:10px;
		}
		.skillColumn:first-child {
			width:90%;
		}
		.skillColumn:nth-child(2) {
			width:90%;
		}
		.skillList{
			flex-wrap:nowrap;
			height: auto;
			p{
				padding:0;
			}
		}
	}
}

@media screen and (max-width:650px) {
	#navIcon{
		display: block;
		top:22px;
		right:30px;
	}
	// hamburgerMenu 
	.mainNav {
		position: absolute;
		top: 0;
		background-color: white;
		left: 0;
		margin-top:0;
		height: 106%;
		width: 100%;
		display: none;
		flex-flow: column wrap;
		text-align: center;
		justify-content: space-around;
		z-index: 10;
	}
	ul#menu-main-menu {
		position: absolute;
		top:0;
		left:0;
		height:94%;
		width:100%;
		flex-direction:column;
		background: $darkPurple;
		li {
			margin:20px;
			text-align: left;
			&::after {
				width:100%;
			}
			a {
				font-size:2rem;
				&::after {
					width:100%;
				}
			}
		}
	}
	.mainNav a {
		color: rgba(0,0,0,0.8);
	}
}

@media screen and ( max-width:600px) {
	// Header style
	header {
		.aboveHeader {
			font-size:2.5rem;
			&::after {
				width:110%;
			}
		}
		.bigFadedLetters{
			font-size:7rem;
			top:40%;
		}
	}
	// Contact
	.contact .container {
		border-top:40px solid $pink;
	}
	// General style
	.smallContainer {
		width: 85%;
	}
}

@media screen and ( max-width:500px) {
	// Header styles
	header {
		.headerBorderContainer{
			height:93%;
			margin-top:5px;
		}
		.bigFadedLetters {
			font-size:6rem;
		}
		.aboveHeader {
			font-size:2.5rem;
			top:-5%;
			&::after {
				width:80%;
			}
		}
		.subHeading {
			top:53%;
			width:100%;
		}
		.socialHeaderContainer{
			top:72%;
		}
		.logo{
			height:40px;
			width:40px;
		}
	}
	//About and Skills section
	.about .smallContainer{
		p {
			font-size:0.9rem;
			line-height: 1.6rem;
			padding-left:20px;
			padding-right:20px;
		}
		.aboutImage {
			width:180px;
			margin-top:100px;
		}
	}
	// skills
	.skills {
		.secondContainer {
			flex-direction:column;
		}
		.skillColumn:first-child {
			width:90%;
			display: block;
			flex-wrap:none;
			margin:0 auto;
		}
		.skillColumn:nth-child(2) {
			width:90%;
			display: block;
			margin:0 auto;
		}
	}
	// Footer styles
	footer .container {
		display: block;
		a.logoContainerFooter{
			width:100%;
			display:inline-block;
			margin: 0 auto;
			svg {
				width:70px;
				margin:10px auto;
				left:50%;
				transform:translateX(-50%);
			}
		}
		.socialHeaderContainer {
			justify-content:center;
			order:1;
		}
	}
}

@media screen and ( max-width:420px) {
	// Heading Section
	header {
		.bigFadedLetters{
			font-size:5rem;
			top:43%;
		}
	}
	// Portfolio Section
	.portfolio {
		.buttonContainer {
			display: block;
		}
		a.button{
			width:180px;
			margin:0 auto;
			&:last-child {
				margin-top:20px;
			}
		}
	}
	.about a {
		width:70%!important;
		margin-left: auto;
		margin-right:auto;
	}
}

@media screen and (max-width:330px) {
	// heading section
	header {
		.bigFadedLetters {
			display:none;
		}
		.subHeading {
			top:56%;
		}
	}
	.portfolio .portfolioImage {
		a {
			margin:0;
		}
	}
}