.portfolio {
	a{
		margin:0;
		margin: 0 2%;
	}
	.buttonContainer {
		display: flex;
		justify-content:center;
		margin: 20px 0 ;
	}
	h2 {
		font-weight: 400;
		@include headingFontStyles( $textBlack, 2.4rem);
	}
	h3 {
		letter-spacing: 0.1rem;
		@include headingFontStyles( $textBlack, 1.5rem);
		font-weight:400;
		position: relative;
		transition:0.3s ease all;
		&::after {
		    content: '';
		    display: block;
		    bottom:-5px;
		    position: absolute;
		    width:100%;
			left:50%;
			transform:translateX(-50%);
		    height: 1px;
		    background-image: linear-gradient(-30deg, #e456a9 5%, #aa61cc 95%);
		    transition: width .5s;
		}
	}
	.portfolioImage {
		cursor:pointer;
		display: flex;
		justify-content:center;
		align-items:center;
		img {
			filter: grayscale(100%);
			transition:0.5s all ease;
		}
		&:hover img, &:focus img {
			filter: none!important;
			filter: grayscale(0%);
		}
	}
	.portfolioItem {
		margin-top:70px;
		img {
			transition:1.5s ease-in all;
		}
	}
	.tagContainer {
		display: flex;
		flex-wrap:wrap;
		justify-content:center;
	}
	.tagItem {
		border:1px solid $pink;
		margin:15px 7px 0;
		h4 {
			font-family: $headingFont;
			padding:5px 10px;
			margin:0;
			font-weight: 300;
			font-size:0.9rem;
			position: relative;
			transition:color 1s ease-out;
			&:after {
				background: -webkit-linear-gradient(-30deg, #e456a9 5%, #aa61cc 95%);
				content:"";
				opacity:0;
				width:inherit;
				height:inherit;
				position: absolute;
				z-index:-10;
				top:0;
				left:0;
				right:0;
				bottom:0;
				border:1px solid white;
				transition:opacity 1s ease-out;
			}
			&:hover:after{
				opacity:1;
			}
			&:hover {
				color:white;
			}
		}

	}
}