// Mixins

@mixin headingFontStyles($color,$size) {
	font-family: $headingFont;
	color:$color;
	font-size:$size;
	text-transform: uppercase;
	text-align:center;
	letter-spacing: 0.1rem;
}

@mixin bodyFontStyles($color,$size) {
	font-family: $bodyFont;
	color:$color;
	font-size:$size;
	line-height:30px;
	text-align: center;
	margin:0;
}

h1 {
	@include headingFontStyles( $siteWhite, 2.4rem);
}

// Links

a {
	text-decoration: none;
}

/* paragraphs */

p {
	@include bodyFontStyles( $darkGrey, 1.1rem);
}

// buttons
.button, input[type="submit"] {
	border:none;
	background-image: linear-gradient(-30deg, #aa61cc 30%, #e456a9 95%);
	border-radius: 25px;
	padding:1px 25px;
	display: inline-block;
	margin: 0 auto 50px;	
	display: block;	
	position: relative;
	z-index: 10;
	p {
		@include headingFontStyles($siteWhite, 1rem);
		position: relative;
		z-index: 100;
		padding:0;
		margin:0;
	}
	a{
		@include headingFontStyles($siteWhite, 1rem);
		text-transform: uppercase;
		font-weight:400;
		position: relative;
		z-index:200;
	}
	&:hover:after, &:focus:after{
		opacity:1;
		transition:opacity 0.6s ease-out;
	}
	&:after {
		background-image: linear-gradient(-30deg,#e456a9 1%, #aa61cc 95%);
		content:"";
		opacity:0;
		width:inherit;
		height:inherit;
		position: absolute;
		z-index:20;
		top:0;
		left:0;
		right:0;
		bottom:0;
		transition:opacity 0.6s ease-out;
		border-radius: 25px;
	}
}

/*blockquotes*/
blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}